*{
	background-color: #D9D9D9;
}
.col-md-1{
	background-color: transparent; 
	text-align: center;
	color: #94428a;
	font-family: "Comfortaa";
	font-size: 12px;
}
.navbar-header img{
	float:left;
}
.col-md-4{
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.col-md-2 {
	background-color: transparent;
	text-align: center;
	font-family: "Grand Hotel Regular";
}
#barra{
	background-color: transparent;
float: left;
font-size: 20px;
}
#barra a:hover{
	background-color: #934089;
	color: white;
}
#barra a{
	height: 45px;
	font-family: "Comfortaa";
	text-decoration: none;
	color: #934089;
}
#login li{
	background-color: transparent;
}
#login a:hover{
	background-color: #934089;
	color: white;
}
#login a{
	height: 45px;
	font-family: "Comfortaa";
	text-decoration: none;
	color: ;
}
.btn{
	background-color: transparent;
	color:#934089;
	border-style: solid;
	border-color: #934089;
}
.btn:hover{
	background-color: transparent;
	color:#934089;
	border-style: solid;
	border-color: #934089;
}
#navBarSearchForm input[type=text] {
	width: 410px !important; /*largura da barra de pesquisa*/
	height: 34px !important; /*altura da barra de pesquisa*/
}
.pesquisa {
	padding-top: 1px;
 	font-size: 0px; /*removes whitespace between button and input*/
}

.btn-pesquisa {
	height: 33px !important;
}
#rodape{
	text-align: center;
}
#rodape a{
	font-family: "Comfortaa";
	text-decoration: none;
	color: white;
}
